.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-rotate {
  transform-origin: 50% 50%;
  animation: spinner-spin 0.8s linear infinite;
}

@keyframes spinner-spin {
  100% {
    transform: rotate(360deg);
  }
}